# Ignore the virtual environment directory
.venv/
venv/
env/

# Ignore compiled python files
__pycache__/
*.pyc

# Ignore Robot Framework results (we don't want these cluttering the repo)
results/
log.html
report.html
output.xml
screenshots/
interactive_console_output.xml

# Ignore dependency directories
package-lock.json
playwright-log.txt
report.html
